*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Baloo 2', cursive;
    margin: 0;
    font-size: 10px;
}

:root {
    --red: #ea1b24;
    --black: #282828;
    --white: rgb(245, 245, 245);
}

/* Header */
header {
    background-color: var(--black);
    padding: 2em 0 4em;
}

.logo {
    width: 25%;
    min-width: 200px;
    max-width: 350px;
    display: block;
    margin: 0 auto;
}

.hamburger {
    display: block;
    position: relative;
} 

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--white);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 8px; }
.hamburger::after { bottom: 8px; }

.nav-open .hamburger { transform: rotate(.625turn); }

.nav-open .hamburger::before { transform: rotate(90deg) translateX(-8px); }

.nav-open .hamburger::after { opacity: 0; }

.nav-toggle {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 10px;
    z-index: 200;
}

.nav {
    position: fixed;
    background-color: var(--red);
    color: var(--white);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 350ms ease-in-out;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav__list {
    height: 80vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.nav__item {
    list-style: none;
    margin: 0;
    transition: transform 100ms ease-in-out;
}

.nav__link {
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
    font-size: 3rem;
}

.nav__item:hover,
.nav__item:focus {
    transform: scale(1.05);
}

/* Section Layouts */
section {
    padding: 10em 1em;
}

@media (min-width: 800px) {
    section {
        padding: 15em 1em;
    }
}

@media (min-width: 1200px) {
    section {
        padding: 20em 1em;
    }
}

/* Main Content Area */

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../img/tv-interior.jpeg);
    background-color: rgb(53, 53, 53);
    height: 100%; /*paralax*/
    background-attachment: fixed; /*paralax*/
    background-position: center -20em;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.main-header {
    font-size: 3rem;
    line-height: 3rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    color: var(--white);
}

.btn {
    width: 150px;
    margin: 1em auto 0;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--white);
    cursor: pointer;
    outline: none;
}

.menu-btn { background-color: var(--red); }
.order-btn { background-color: green; }

a .btn { display: block; }

a { text-decoration: none; }

/* About Content Area */

.about-content {
    background-color: var(--red);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-content-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

.about-img {
    width: 60%;
    max-width: 350px;
    border: solid var(--white) 8px;
    border-radius: 3px;
    transform: rotate(2deg);
    object-fit: cover;
    margin-top: 3em;
}

.text-content {
    font-size: 1.6rem;
    color: var(--white);
    max-width: 600px;
    margin: 2em;
}

/* Menu Preview Area */

.menu-header { color: var(--black); }

.menu-prev-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white);
}

.popular-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.popular-item {
    margin: 2em;
}

.popular-item-image {
    width: 175px;
    height: 175px;
    object-fit: cover;
    border-radius: 3px;
}

.popular-item-text {
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
}

/* MENU PAGE*/

.menu-entrees-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.entree-item {
    width: 250px;
    margin: 0 auto;
    padding: 2em 3em;
}

.entree-name {
    font-size: 1.6rem;
    text-transform: capitalize;
    color: var(--black);
}

.entree-price {
    font-size: 1rem;
}

.entree-desc {
    font-size: 1.2rem;
    text-transform: capitalize;
}

/* Contact Page */

#map {
    width: 80%;
    max-width: 600px;
    height: 400px;
    border: 0;
    border-radius: 3px;
    margin: 2em auto;
}

/* Footer */

.footer-content {
    background-color: var(--black);
    padding: 5em 0;
    display: flex;
    flex-direction: column;
}

.footer-links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-logo {
    width: 100px;
    height:fit-content;
    margin: 0 auto;
}

.footer-nav,
.footer-contact {
    width: fit-content;
    display: block;
}

.footer-nav__link,
.footer-contact-line {
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
}

.footer-nav__link:hover,
.footer-nav__link:focus {
    text-decoration: underline;
}

.footer-credit {
    color: rgb(126, 126, 126);
    font-size: 1rem;
    text-align: center;
}